@media (min-width: 901px) and (max-width: 1024px) {

    html {
        max-width: 1024px;
    }

    #header {

        .header-container {
            padding: 40px;
        }
    }

    .redesign {

        &-cover__image {
            margin-top: 50px;
            left: 33%;
        }

        &-title__item {
            font-size: 9rem;
        }

        &-title__item1 {
            padding-left: 100px;
        }
    
        &-title__item2 {
            padding-left: 260px;
        }

        &-title__abovetitle {
            padding-left: 160px;
        }
    }

    .help {

        &__title {
            padding: 60px 40px 0;
        }
    }

    .history {

        &-container {
            padding: 40px;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 200px);
            grid-template-areas:"title title phot1" 
                                "descr phot2 phot3"
                                "phot4 phot5 phot6"
                                "phot7 phot8 after";
            justify-content: space-around;
        }

        &__title {
            font-size: 8rem;
        }

        &-descriptions {
            padding: 0;
        }

        &-descriptions__item {
            font-size: 1.5rem;
        }

        &__photo {
            width: 250px;
        }

        &-photo__item {
            max-width: 250px;
        }
    }

    .trusted {

        &__title {
            padding: 40px;
        }

        &-firms {
            padding: 0;
        }
    }

    .agile {
        &-container {
            padding: 40px;
        }

        &-description__item {
            font-size: 1.5rem;
        }

        &-ticker__item {
            font-size: 6rem;
        }
    }

    .inspiracje {

        &-container {
            padding: 40px;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "in__phot1 in__phot2 in__title"
                                 "in__phot3 in__phot4 in__phot5"
                                 "in__after in__phot6 in__phot7";
            grid-gap: 40px;
        }

        &-title__item {
            font-size: 6rem;
        }

        &-title__description {
            padding: 0;
            font-size: 1.5rem;
        }

        &-photo__item {
            max-width: 250px;
        }

        &__afterwords {
            padding: 0;
            font-size: 1.5rem;
        }
    }

    .pomagamy {

        &-cell {
            max-width: 400px;
        }

        &-cell__photo {
            max-width: 400px;
        }

        &-cell-signatures__item {
            max-width: 200px;
        }

        &-cell-signatures__decoding {
            font-size: 1.7rem;
        }
    }

    .contacts {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 0;
            font-size: 1.5rem;
        }

        &-links {
            padding-top: 100px;
            max-width: 400px;
            font-size: 5rem;
        }

        &-footer {
            padding: 0;
        }
    }

    .footer {
        &-container {
            padding: 10px 0;
        }
    }
}


@media (min-width: 769px) and (max-width: 900px) {

    html {
        max-width: 900px;
    }

    #header {
        padding: 0 20px;
    }

    .redesign {

        padding: 0;

        &-cover__image {
            max-width: 300px;
            max-height: 300px;
        }
        
        &-title__item {
            font-size: 7rem;
        }

        &-title__abovetitle {
            padding-left: 150px;
        }

        &-title__item2 {
            padding-left: 150px;
        }

        &-title__item2 {
            padding-left: 250px;
        }
    }

    .help {

        &-tabs {
            padding: 20px;
        }

        &-tabs-row__item1 {
            font-size: 3rem;
        }

        &-tabs-row__item2 {
            font-size: 1.5rem;
        }
    }

    .history {

        &-container {
            padding: 40px;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 200px);
            grid-template-areas:"title title phot1" 
                                "descr phot2 phot3"
                                "phot4 phot5 phot6"
                                "phot7 phot8 after";
            justify-content: space-around;
        }

        &__title {
            font-size: 8rem;
        }

        &-descriptions__item {
            font-size: 1.5rem;
        }

        &-photo__item {
            max-width: 200px;
        }
    }

    .trusted {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 20px 40px 0;
        }

        &-firms {
            padding: 10px;
        }
    }

    .agile {

        &-container {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "ag__nav ag__tit ag__tit"
                                 "ag__nav ag__des ag__des"
                                 "ag__tic ag__tic ag__tic";
            grid-row-gap: 40px;
            padding: 100px 40px 0;
        }

        &-title__item {
            font-size: 4rem;
        }

        &-ticker__item {
            font-size: 4rem;
        }
    }

    .inspiracje {
        
        &-container {
            padding: 40px 0;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(2, 250px);
            grid-template-areas: "in__phot1 in__title"
                                 "in__phot2 in__phot3"
                                 "in__phot4 in__phot5"
                                 "in__phot6 in__phot7"
                                 "in__after in__after";
            justify-content: space-around;
        }

        &-title__item {
            font-size: 6rem;
            padding-bottom: 20px;
        }

        &-title__description {
            font-size: 1.5rem;
            padding: 0;
        }

        &-photo__item {
            max-width: 250px;
        }

        &__afterwords {
            padding: 0;
        }
    }

    .pomagamy {

        &-container {
            padding: 40px;
        }

        &-cell__title {
            margin: auto;
            font-size: 3rem;
        }

        &-cell__photo {
            max-width: 300px;
            padding-bottom: 20px;
        }

        &-cell-signatures__item {
            max-width: 150px;
        }
    }

    .contacts {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 20px;
        }
    }

    .footer {
       
        &-container {
            padding: 10px;
        }
    }
}


@media (min-width: 601px) and (max-width: 768px) {

    html {
        max-width: 768px;
    }

    #header {

        padding: 10px 40px;

        .header-nav__item {
            padding: 20px 10px;
        }
    }

    .redesign {

        &-cover__image {
            max-width: 300px;
            max-height: 300px;
        }

        &-title__abovetitle {
            padding-left: 120px;
        }

        &-title__item {
            font-size: 7rem;
        }

        &-title__item1 {
            padding-left: 100px;
        }

        &-title__item2 {
            padding-left: 250px;
        }

        &-descriptions__item {
            max-width: 300px;
            font-size: 1.5rem;
        }
    }

    .help {

        &-tabs-row__item1 {
            min-width: 280px;
            margin: auto 0;
            font-size: 3rem;
        }

        &-tabs-row__item2 {
            font-size: 1.7rem;
        }
    }

    .history {

        &-container {
            padding: 40px 40px 0;
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(2, 200px);
            grid-template-areas:"title phot1" 
                                "descr phot2"
                                "phot3 phot4"
                                "phot5 phot6"
                                "phot7 phot8"
                                "after after";
            justify-content: space-around;
        }

        &__title {
            margin: auto;
            font-size: 4.5rem;
        }

        &-descriptions__item {
            font-size: 1.5rem;
        }

        &-photo__item {
            max-width: 200px;
        }
    }

    .trusted {

        &-container {
            padding: 40px;
        }

        &-firms {
            padding: 0;
        }
    }

    .agile {

        &-container {
            display: grid;
            grid-template-rows: repeat(3, 100px);
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "ag__nav ag__tit ag__tit"
                                 "ag__nav ag__des ag__des"
                                 "ag__tic ag__tic ag__tic";
            grid-row-gap: 20px;
            padding: 40px;
        }

        &-title__item {
            font-size: 3rem;
        }

        &-description__item {
            font-size: 1.7rem;
        }

        &-description__afterwords {
            font-size: 1.4rem;
        }

        &-ticker__item {
            padding-top: 40px;
            font-size: 4rem;
        }
    }

    .inspiracje {
        
        &-container {
            padding: 40px 0 0;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(2, 250px);
            grid-template-areas: "in__phot1 in__title"
                                 "in__phot2 in__phot3"
                                 "in__phot4 in__phot5"
                                 "in__phot6 in__phot7"
                                 "in__after in__after";
                                 grid-row-gap: 20px;
            justify-content: space-around;
        }

        &-title__item {
            padding: 20px 0;
            font-size: 4.5rem;
        }

        &-title__description {
            padding: 0;
            font-size: 1.5rem;
        }

        &-photo__item {
            max-width: 250px;
        }
    }

    .pomagamy {

        &-container {
            padding: 40px;
            display: flex;
            flex-direction: column;
        }

        &-cell__title {
            margin: 0 auto;
            padding: 40px;
            text-align: center;
            font-size: 3.5rem;
        }

        &-cell__photo {
            margin: 0 auto;
            padding: 20px 0;
            max-width: 450px;
        }

        &-cell__description {
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        &-cell-signatures {
            margin: 0 auto;
        }

        &-cell-signatures__decoding {
            font-size: 1.5rem;
        }
    }

    .contacts {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 0;
        }

        &-links {
            max-width: 350px;
            font-size: 4rem;
        }

        &-wrapper {
            padding: 0;
        }

        &-wrapper__address {
            max-width: 300px;
            font-size: 1.5rem;
        }

        &-footer {
            font-size: 1.2rem;
        }
    }

    .footer {

        &-container {
            padding: 10px;
        }
    }
}

@media (min-width: 481px) and (max-width: 600px) {

    html {
        max-width: 600px;
    }

    #header {

        padding: 0 20px;

        .header-nav__item {
            // 
            // 
            // 
            padding: 20px 5px;
            // 
            // 
            // 
        }

        .header-menu {
            position: absolute;
            top: 40px;
            right: 0;
            // color: white;
            cursor: pointer;
        }
    
        .header-burger {
            display: none;
        }
    
        .header-menu-line {
            position: absolute;
            width: 35px;
            height: 2px;
            top: 40px;
            right: 0;
            background-color: white;
            transition: 0.5s;
        }
    
        .header-menu-line1 {
            top: 40;
        }
    
        .header-menu-line2,
        .header-menu-line3 {
            top: 48px;
        } 
    
        .header-menu-line4 {
            top: 56;
        }

        .header-nav {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(50%);
            // для плавности открытия бургера
            max-height: 0;
            font-size: 0;
            overflow: hidden;
            transition: 0.2s;
        }

        .header-nav__item {
            display: block;
            padding: 10px;
        }
    }

    .redesign {

        &-cover__image {
            max-width: 200px;
            max-height: 200px;
        }

        &-title__abovetitle {
            padding-left: 110px;
        }

        &-title__item {
            font-size: 3rem;
        }

        &-title__item1 {
            padding-left: 100px;
        }

        &-title__item2 {
            padding-left: 200px;
        }

        &-descriptions__item {
            max-width: 200px;
            font-size: 1.2rem;
        }
    }

    .help {

        &__title {
            padding: 40px 40px 0;
        }

        &-tabs-row__item1 {
            min-width: 200px;
            margin: auto 0;
            font-size: 2rem;
        }

        &-tabs-row__item2 {
            font-size: 1.3rem;
        }
    }

    .history {

        &-container {
            padding: 40px 40px 0;
            display: flex;
            flex-direction: column ;
        }

        &__title {
            margin: auto;
            font-size: 4.5rem;
        }

        &-descriptions__item {
            margin: 0 auto;
            font-size: 1.5rem;
        }

        &__photo {
            margin: 0 auto;
        }

        &__afterwords {
            padding-top: 40px;
        }
    }

    .trusted {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 40px 0;
        }

        &-firms {
            padding: 0;
        }

        &-firms__item {
            max-width: 200px;
            max-height: 70px;
        }
    }

    .agile {

        &-container {
            display: grid;
            grid-template-rows: repeat(3, 100px);
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "ag__nav ag__tit ag__tit"
                                 "ag__nav ag__des ag__des"
                                 "ag__tic ag__tic ag__tic";
            grid-row-gap: 20px;
            padding: 40px;
        }

        &-title__item {
            font-size: 3rem;
        }

        &-description__item {
            font-size: 1.7rem;
        }

        &-description__afterwords {
            font-size: 1.4rem;
        }

        &-ticker__item {
            padding-top: 40px;
            font-size: 4rem;
        }
    }

    .inspiracje {
        
        &-container {
            padding: 40px 0 0;
            display: flex;
            flex-direction: column;
        }

        &-title__item {
            margin: auto;
            padding: 20px 0;
            font-size: 4.5rem;
            text-align: center;
        }

        &-title__description {
            padding: 0 20px;
            font-size: 1.3rem;
        }

        &__photo {
            margin: 0 auto;
        }

        &-photo__item {
            margin: 0 auto;
            max-width: 250px;
        }

        &__afterwords {
            padding: 0 40px;
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .pomagamy {

        &-container {
            padding: 40px;
            display: flex;
            flex-direction: column;
        }

        &-cell__title {
            margin: 0 auto;
            padding: 40px;
            text-align: center;
            font-size: 3.5rem;
        }

        &-cell__photo {
            margin: 0 auto;
            padding: 20px 0;
            max-width: 350px;
        }

        &-cell__description {
            margin: 0 auto;
            padding: 20px;
            font-size: 1.6rem;
            text-align: center;
        }

        &-cell-signatures {
            margin: 0 auto;
        }

        &-cell-signatures__item {
            max-width: 170px;
        }

        &-cell-signatures__decoding {
            font-size: 1.2rem;
        }
    }

    .contacts {

        &-container {
            padding: 40px;
        }

        &__title {
            padding: 0;
        }

        &-links {
            max-width: 280px;
            font-size: 3rem;
        }

        &-wrapper {
            padding: 0;
        }

        &-wrapper__address {
            max-width: 150px;
            font-size: 1.3rem;
        }

        &-footer {
            font-size: 1rem;
        }
    }

    .footer {

        &-container {
            padding: 10px;
            text-align: center;
        }

        &__toTop {
            font-size: 2rem;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    html {
        max-width: 600px;
    }

    #header {

        padding: 0 20px;

        .header-nav__item {
            padding: 20px 5px;
        }

        .header-menu {
            position: absolute;
            top: 40px;
            right: 0;
        }
    
        .header-burger {
            display: none;
        }
    
        .header-menu-line {
            position: absolute;
            width: 35px;
            height: 2px;
            top: 40px;
            right: 0;
            background-color: white;
            transition: 0.5s;
            
        }
    
        .header-menu-line1 {
            top: 40;
        }
    
        .header-menu-line2,
        .header-menu-line3 {
            top: 48px;
        } 
    
        .header-menu-line4 {
            top: 56;
        }

        .header-nav {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(50%);
            // для плавности открытия бургера
            max-height: 0;
            font-size: 0;
            overflow: hidden;
            transition: 0.2s;
            z-index: 1;
        }

        .header-nav__item {
            display: block;
            padding: 10px;
        }
    }

    .redesign {

        &-cover__image {
            max-width: 200px;
            max-height: 200px;
        }

        &-title__item {
            padding-left: 50px;
            font-size: 4rem;
        }
        &-title__item2 {
            padding-left: 100px;
        }

        &-descriptions {
            padding: 95px 20px 0;
            font-size: 1.2rem;
        }

        &-descriptions__free {
            padding: 45px 0;
        }
    }

    .help {

        &-container {
            max-width: 480px;
            margin: 0;
            padding: 0;
        }
        
        &__title {
            padding: 20px;
        }

        &-tabs {
            max-width: 480px;
        }

        &-tabs-row {
            padding: 20px;
        }

        &-tabs-row__item {
            padding: 20px;
            font-size: 1.4rem;            
            min-width: 130px;
        }

        &-tabs-row__item1 {
            margin: auto;
            padding: 0;
            font-weight: 600;
        }

        &-tabs__check:checked + &-tabs__label + &-tabs__hide {
            padding: 20px 20px;
            max-height: 400px;
        }
    }

    .history {

        &-container {
            max-width: 480px;
            margin: 0;
            padding: 0;
            display: block;
        }

        &__title {
            font-size: 2.5rem;
            padding: 20px;
        }

        &-descriptions {
            padding: 20px;
        }

        &__photo {
            margin: 20px auto;
        }

        &__afterwords {
            padding: 20px;
        }
    }

    .trusted {
        
        &-container {
            max-width: 480px;
            margin: 0;
            padding: 40px 0;
            display: block;
        }

        &__title {
            padding: 20px;
        }

        &-firms {
            padding: 0;
        }
    }

    .agile {

        &-container {
            max-width: 480px;
            margin: 0;
            padding: 40px 20px;
            display: block;
        }

        &-title__item {
            padding: 40px;
            font-size: 2.5rem;
        }

        &-description__item {
            font-size: 1.5rem;
        }

        &-ticker__item {
            padding: 40px 10px;
            color: rgb(83, 83, 83);
            font-size: 2rem;
        }
    }

    .inspiracje {

        &-container {
            max-width: 480px;
            margin: 0;
            padding: 0;
            display: block;
        }

        &-title__item {
            font-size: 2.5rem;
            padding: 20px;
        }

        &-title__description {
            padding: 20px;
        }

        &__photo {
            margin: 20px auto;
        }

        &__afterwords {
            padding: 20px;
            max-width: 20px;
            font-size: 1.5rem;
        }
    }

    .ticker {

        &-container {
            max-width: 480px;
            padding: 70px;
        }

        &-row__item {
            font-size: 7rem;
        }
    }

    .pomagamy {

        &-container {
            max-width: 480px;
            display: block;
        }

        &-cell__title {
            padding: 20px;
            font-size: 2rem;
        }

        &-cell {
            margin: 20px auto;
        }

        &-cell__description {
            padding: 20px;
        }

        &-cell-signatures__item {
            padding: 20px;
            margin: 0 auto;
        }

        &-cell-signatures__decoding {
            padding: 20px; 
        }
    }

    .contacts {

        &-container {
            max-width: 480px;
        }

        &__title {
            padding: 20px;
        }

        &-links {
            padding: 20px;
            max-width: 300px;
            font-size: 3rem;
        }

        &-wrapper__address {
            padding: 60px 20px;
        }

        &-wrapper-socials__item {
            margin: 20px;
        }

        &-footer__item {
            padding: 10px;
        }
    }

    #footer {
        max-width: 480px;
    }

    .footer__toTop {
        display: block;
        text-align: center;
        font-size: 2rem;
        padding: 0;
    }
}
