.redesign {

    &-first__img {
        animation: 20s linear infinite;
        animation-name: first__img;
    }

    &-second__img {
        animation: 30s linear infinite;
        animation-name: second__img;
    }

}

@keyframes first__img {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes second__img {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}