.header {
    background-color: black;
    width: 100%;
    
    &-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 40px 0;
        max-width: 1200px;
        border: 2px solid black;
    }

    &__logo {
        width: 147px;
        height: 20px;
    }

    &-nav {
        font-size: 1.2rem;
        // нижнее свойство необходимо для того,
        // чтобы отображался обычный курсор между кнопок навигации.
        cursor: default;
    }

    &-nav__item {
        padding: 10px 40px;
        color: white;
    }
}

.redesign {
    width: 100%;
    background-color: black;

    &-container {
        margin: 0 auto;
        max-width: 1200px;
    }

    &-cover__image {
        position: absolute;
        margin-top: 100px;
        left: 55%;
        transform: translateX(-55%);
        width: 444px;
        height: 398px;
    }

    .redesign-second__img {
        margin-left: -3%;
    }

    &-title {
        position: relative;
        margin: 0 auto;
        padding-top: 120px;
    }

    &-title__abovetitle {
        padding-left: 180px;
        font-size: 1.1rem;
        color: #999999;
    }

    &-title__item {
        color: white;
        font-size: 11rem;
    }

    .title__item1 {
        padding-left: 130px;
    }

    .title__item2 {
        padding-left: 330px;
    }

    &-descriptions {
        display: flex;
        justify-content: space-between;
        padding: 200px 50px 80px;
        font-size: 1.9rem;
        line-height: 3rem;
        color: white;
    }

    &-descriptions__item {
        max-width: 500px;
    }

    &-descriptions__free {
        color: rgba(white, 0.4);
    }

}
